-- Generated by import_students_xlsx.py
BEGIN;
-- Ensure pgcrypto exists for crypt()/gen_salt().
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- 23wh1a6601@bvrithyderabad.edu.in
INSERT INTO users (email, password_hash, name, approved) VALUES ('23wh1a6601@bvrithyderabad.edu.in', crypt('23WH1A6601', gen_salt('bf')), 'Kolagani Lakshmi Chaitanya', TRUE) ON CONFLICT (email) DO UPDATE SET   name = EXCLUDED.name,   password_hash = EXCLUDED.password_hash,   approved = TRUE;
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6601@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kolagani Lakshmi Chaitanya', '23WH1A6601', TRUE FROM users WHERE email = '23wh1a6601@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6603@bvrithyderabad.edu.in
INSERT INTO users (email, password_hash, name, approved) VALUES ('23wh1a6603@bvrithyderabad.edu.in', crypt('23WH1A6603', gen_salt('bf')), 'Kasanagottu Anusri', TRUE) ON CONFLICT (email) DO UPDATE SET   name = EXCLUDED.name,   password_hash = EXCLUDED.password_hash,   approved = TRUE;
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6603@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kasanagottu Anusri', '23WH1A6603', TRUE FROM users WHERE email = '23wh1a6603@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6604@bvrithyderabad.edu.in
INSERT INTO users (email, password_hash, name, approved) VALUES ('23wh1a6604@bvrithyderabad.edu.in', crypt('23WH1A6604', gen_salt('bf')), 'Nommula Manasa Mary Jyothi', TRUE) ON CONFLICT (email) DO UPDATE SET   name = EXCLUDED.name,   password_hash = EXCLUDED.password_hash,   approved = TRUE;
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6604@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Nommula Manasa Mary Jyothi', '23WH1A6604', TRUE FROM users WHERE email = '23wh1a6604@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6605@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6605@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Eslawad Ankitha', '23WH1A6605', TRUE FROM users WHERE email = '23wh1a6605@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6606@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6606@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Dandu Akshaya', '23WH1A6606', TRUE FROM users WHERE email = '23wh1a6606@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6607@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6607@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Patoju Mahima Meghana', '23WH1A6607', TRUE FROM users WHERE email = '23wh1a6607@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6608@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6608@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Badhavath Bindhu', '23WH1A6608', TRUE FROM users WHERE email = '23wh1a6608@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6609@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6609@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Pagudala Pravalika', '23WH1A6609', TRUE FROM users WHERE email = '23wh1a6609@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6610@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6610@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Manneni Srijani', '23WH1A6610', TRUE FROM users WHERE email = '23wh1a6610@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6611@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6611@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Daravath Manasa', '23WH1A6611', TRUE FROM users WHERE email = '23wh1a6611@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6612@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6612@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kummari Harshini', '23WH1A6612', TRUE FROM users WHERE email = '23wh1a6612@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6613@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6613@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Manchukonda Akshara', '23WH1A6613', TRUE FROM users WHERE email = '23wh1a6613@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6614@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6614@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Muchanapally Vaishnavi Prasad', '23WH1A6614', TRUE FROM users WHERE email = '23wh1a6614@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6615@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6615@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Nagasani Akshitha', '23WH1A6615', TRUE FROM users WHERE email = '23wh1a6615@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6616@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6616@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kalidindi Mahima', '23WH1A6616', TRUE FROM users WHERE email = '23wh1a6616@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6617@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6617@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Boddu Asha Jyothi', '23WH1A6617', TRUE FROM users WHERE email = '23wh1a6617@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6619@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6619@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Manam Jisha Chowdary', '23WH1A6619', TRUE FROM users WHERE email = '23wh1a6619@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6620@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6620@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Gaddam Sowmya Sri', '23WH1A6620', TRUE FROM users WHERE email = '23wh1a6620@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6621@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6621@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kotte Vyshnavi', '23WH1A6621', TRUE FROM users WHERE email = '23wh1a6621@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6622@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6622@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Nevuri Gayathri Reddy', '23WH1A6622', TRUE FROM users WHERE email = '23wh1a6622@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6623@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6623@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Bollumalla Sowmya', '23WH1A6623', TRUE FROM users WHERE email = '23wh1a6623@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6624@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6624@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Sunkam Snehitha', '23WH1A6624', TRUE FROM users WHERE email = '23wh1a6624@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6625@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6625@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Bhemireddy Hari Priya Reddy', '23WH1A6625', TRUE FROM users WHERE email = '23wh1a6625@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6626@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6626@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Nallapu Charitha', '23WH1A6626', TRUE FROM users WHERE email = '23wh1a6626@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6627@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6627@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Guntur Hema Ashrita', '23WH1A6627', TRUE FROM users WHERE email = '23wh1a6627@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6628@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6628@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Jalla Savarnika', '23WH1A6628', TRUE FROM users WHERE email = '23wh1a6628@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6629@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6629@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Tama Ashwitha Priya', '23WH1A6629', TRUE FROM users WHERE email = '23wh1a6629@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6630@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6630@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Mudundi Shanmukhi', '23WH1A6630', TRUE FROM users WHERE email = '23wh1a6630@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6631@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6631@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Repala Sai Srinidhi', '23WH1A6631', TRUE FROM users WHERE email = '23wh1a6631@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6632@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6632@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Purimitla Amrutha Varshini', '23WH1A6632', TRUE FROM users WHERE email = '23wh1a6632@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6633@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6633@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Uddarraju Sri Surya Sai Tejaswini', '23WH1A6633', TRUE FROM users WHERE email = '23wh1a6633@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6634@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6634@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Madapati Veda Sathvika', '23WH1A6634', TRUE FROM users WHERE email = '23wh1a6634@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6635@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6635@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Nikhat Fatima', '23WH1A6635', TRUE FROM users WHERE email = '23wh1a6635@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6636@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6636@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Danthuluri Greeshma Satyavathi', '23WH1A6636', TRUE FROM users WHERE email = '23wh1a6636@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6637@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6637@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Siddula Spandana', '23WH1A6637', TRUE FROM users WHERE email = '23wh1a6637@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6638@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6638@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kella Bhuvaneshwari', '23WH1A6638', TRUE FROM users WHERE email = '23wh1a6638@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6639@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6639@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Talluri Ruchira Chowdary', '23WH1A6639', TRUE FROM users WHERE email = '23wh1a6639@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6640@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6640@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Baddi Thanaswi', '23WH1A6640', TRUE FROM users WHERE email = '23wh1a6640@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6641@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6641@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Sania Iqbal', '23WH1A6641', TRUE FROM users WHERE email = '23wh1a6641@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6642@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6642@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Chikka Amulya', '23WH1A6642', TRUE FROM users WHERE email = '23wh1a6642@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6643@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6643@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kanaparthi Siri Chandana', '23WH1A6643', TRUE FROM users WHERE email = '23wh1a6643@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6644@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6644@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Vunyala Sreshtitha', '23WH1A6644', TRUE FROM users WHERE email = '23wh1a6644@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6645@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6645@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Morusu Pavani', '23WH1A6645', TRUE FROM users WHERE email = '23wh1a6645@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6646@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6646@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Gurram Naveena', '23WH1A6646', TRUE FROM users WHERE email = '23wh1a6646@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6647@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6647@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Arelli Harika', '23WH1A6647', TRUE FROM users WHERE email = '23wh1a6647@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6648@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6648@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Alavalapati Sahasra Sri', '23WH1A6648', TRUE FROM users WHERE email = '23wh1a6648@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6649@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6649@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Thatipally Sahithya', '23WH1A6649', TRUE FROM users WHERE email = '23wh1a6649@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6650@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6650@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Sadanala Mary Sri Keerthana', '23WH1A6650', TRUE FROM users WHERE email = '23wh1a6650@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6651@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6651@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kasturi Geetha Reddy', '23WH1A6651', TRUE FROM users WHERE email = '23wh1a6651@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6652@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6652@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Relamadugu Aashritha', '23WH1A6652', TRUE FROM users WHERE email = '23wh1a6652@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6653@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6653@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Basina Pravalika', '23WH1A6653', TRUE FROM users WHERE email = '23wh1a6653@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6654@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6654@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Gundumitnala VamsiPriya', '23WH1A6654', TRUE FROM users WHERE email = '23wh1a6654@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6655@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6655@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Maddi Suvarna', '23WH1A6655', TRUE FROM users WHERE email = '23wh1a6655@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6656@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6656@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Damarla Rekha', '23WH1A6656', TRUE FROM users WHERE email = '23wh1a6656@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6657@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6657@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Alapati Jyotsna Sravani', '23WH1A6657', TRUE FROM users WHERE email = '23wh1a6657@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6658@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6658@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Ambati Indhu', '23WH1A6658', TRUE FROM users WHERE email = '23wh1a6658@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6659@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6659@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Lashetti Abhisathvika', '23WH1A6659', TRUE FROM users WHERE email = '23wh1a6659@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6660@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6660@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Gade Vaishnavi', '23WH1A6660', TRUE FROM users WHERE email = '23wh1a6660@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6661@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6661@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Sopparolla Swetha', '23WH1A6661', TRUE FROM users WHERE email = '23wh1a6661@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6662@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6662@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Bandi Abhigna', '23WH1A6662', TRUE FROM users WHERE email = '23wh1a6662@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6663@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6663@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Sakilala Ruthvika', '23WH1A6663', TRUE FROM users WHERE email = '23wh1a6663@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 23wh1a6664@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '23wh1a6664@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Sunnapu Anitha', '23WH1A6664', TRUE FROM users WHERE email = '23wh1a6664@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 24wh5a6601@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '24wh5a6601@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Dulam Shree Vedha', '24WH5A6601', TRUE FROM users WHERE email = '24wh5a6601@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 24wh5a6602@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '24wh5a6602@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Apoory Vaibhavi', '24WH5A6602', TRUE FROM users WHERE email = '24wh5a6602@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 24wh5a6603@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '24wh5a6603@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kodumagulla Thripada', '24WH5A6603', TRUE FROM users WHERE email = '24wh5a6603@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 24wh5a6604@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '24wh5a6604@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Borem Vaishnavi', '24WH5A6604', TRUE FROM users WHERE email = '24wh5a6604@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 24wh5a6605@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '24wh5a6605@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Golla Gnaneshwari', '24WH5A6605', TRUE FROM users WHERE email = '24wh5a6605@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 24wh5a6606@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '24wh5a6606@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Kolipaka Thanuja', '24WH5A6606', TRUE FROM users WHERE email = '24wh5a6606@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

-- 24wh5a6607@bvrithyderabad.edu.in
INSERT INTO user_roles (user_id, role) SELECT id, 'student' FROM users WHERE email = '24wh5a6607@bvrithyderabad.edu.in' ON CONFLICT (user_id, role) DO NOTHING;
INSERT INTO profiles (user_id, name, roll_no, available) SELECT id, 'Batta Nandini', '24WH5A6607', TRUE FROM users WHERE email = '24wh5a6607@bvrithyderabad.edu.in' ON CONFLICT (user_id) DO UPDATE SET   name = EXCLUDED.name,   roll_no = EXCLUDED.roll_no,   available = EXCLUDED.available;

COMMIT;
